<div class="post-container">
  <div class="post" >
    <h2>Saved for later</h2>
    <div class="cards mt-5">
      <div class="cards">
        <% current_user.saved_posts.each do |post| %>
          <%= link_to post_path(post.token)  do %>
            <!--cards-->
            <%= render partial: "posts/card", locals: { post: post }%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
