.text {
  margin-bottom: 100px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.form-group {
  display: flex;
  justify-content: center;
}

.form-container {
  max-width: calc(100% - 100px);
  min-width: 375px;
  width: 80%;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.form-border {
  border-style: none;
  text-align: left;
  background-color: white;
}

.form-button {
  font-size: 24px;
  font-family: "Arial Black";
  font-weight: 400;
  color: #222;
  border: 0;
  border-radius: 8px;
  background-color: white;
  border-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form-button:hover {
  background-color: #eee;
}

.form-back {
  justify-content: center;
  background-color: white;
}

.form-control:focus {
  color: #0e0000;
  background-color: white;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent;
}

.form-title {
  margin-top: 15px;
  font-family: "Arial Black";
  font-size: 24px;
  font-weight: 500;
  color: black;
  line-height: 43.7333px;
}

.post_content textarea {
  max-height: calc(80vh - 260px);
  scrollbar-width: none;
}

.form-image {
  border-style: none;
  text-align: left;
  background-color: white;
  text-decoration: none;
}

.exit-button {
  color: #444;
}

.exit-button:hover {
  color: #222;
}

.hyperlink-container {
  display: flex;
  flex-direction: row;
  //align-items: center;

  //background-color: gray;
}

.icon {
  margin-right: 5px;
  //vertical-align: middle;
  //background-color: red;
}

.imagelink-container {
  display: flex;
  flex-direction: row;
  //background-color: blue;
}

.form-label {
  font-family: "Arial Black";
  font-size: 24px;
}
