.show-cards {
  display: flex;
  justify-content: center;
  margin: 60px;
  border-radius: 4%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}

.show-icons {
  gap: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content:center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.show-icons-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Optional: Aligns the items horizontally */
  justify-content: center; /* Optional: Aligns the items vertically */
  padding-top: 8px;
  padding-bottom: 8px;
  p {
    // font-family: arial-black, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
}

.show-icons-item-end {
  margin-left: auto;
}

.save-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Optional: Aligns the items horizontally */
  justify-content: center; /* Optional: Aligns the items vertically */
  p {
    color: rgba(255, 255, 255, 0.7);
    font-family: $body-font;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.post-photo {
  object-fit: cover;
  height: 400px;
  width: 600px;
  border-radius: 4%;
}

.post-infos {
  width: 600px;
  background-color: white;
  padding: 50px;
  border-radius: 4%;
}

.post-infos li {
  list-style-type:none;
}

.post-infos .btn-flat {
  align-items: flex-end;
}

.post-infos p  {
  padding-left: 10px;
  display: inline-block;
}

.post-infos ul  {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}


.photo-btn {
  position: relative;
}

.photo-btn .btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.show-comment {
  justify-content: center;
  background-color: white;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}
.show-comment-btn {
  margin-left: auto;
  margin-right: 0;
}

.show-date {
  color: rgba(255, 255, 255, 0.7);
  font-family: $body-font;
  font-size: 12px;
  margin-bottom: 10px;
}

.show-content {
  margin-top: 34px;
}
