.show-cards {
  display: flex;
  justify-content: center;
  margin: 60px;
  border-radius: 4%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}

.show-icons {
  display: flex;
  gap: 8px;
}

.show-icons-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Optional: Aligns the items horizontally */
  justify-content: center; /* Optional: Aligns the items vertically */

  p {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.show-avatar {
  gap: 8px;
  display: flex;
}

.show-avatar-item {
  display: flex;
  align-items: center; /* Optional: Aligns the items horizontally */
  justify-content: center; /* Optional: Aligns the items vertically */
  p {
    // font-family: arial-black, sans-serif;
    font-size: 16px;
    font-weight: bolder;
  }
}

.show-icons-item-end {
  margin-left: auto;
}

.save-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; /* Optional: Aligns the items horizontally */
  justify-content: center; /* Optional: Aligns the items vertically */
  p {
    color: rgba(255, 255, 255, 0.7);
    font-family: $body-font;
    font-size: 12px;
  }
}

.post-photo {
  object-fit: cover;
  height: 400px;
  width: 600px;
  border-radius: 4%;
}

.post-infos {
  width: 600px;
  background-color: white;
  padding: 50px;
  border-radius: 4%;
}

.post-infos li {
  list-style-type:none;
}

.post-infos .btn-flat {
  align-items: flex-end;
}

.post-infos p  {
  padding-left: 10px;
  display: inline-block;
}

.post-infos ul  {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}


.photo-btn {
  position: relative;
}

.photo-btn .btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.show-comment {
  justify-content: center;
  background-color: white;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1)
}
.show-comment-btn {
  margin-left: auto;
  margin-right: 0;
}

.show-date {
  color: rgba(255, 255, 255, 0.7);
  font-family: $body-font;
  font-size: 9px;
}

.show-content {
  margin-top: 34px;
}

.remixes {
  display: flex;
  flex-direction: row;
}

.remixes-bar {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
  align-items: center;
}

.title-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.content-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.avatar-container {
  position: relative;
}

.avatar-overlay {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0); /* Transparent background */
}

.avatar-overlay-little {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.play-icon,
.pause-icon {
  z-index: 2;
  display: none;
}

.green-overlay {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #1FDF64;
  z-index: 1;
}

.toggle-bar {
  cursor: pointer;
  margin-bottom: 8px;
}

.toggle-bar .dots {
  color: rgba(255, 255, 255, 0.7);
  font-size:28px;
}
