.web3 {
  // background-image: linear-gradient(to bottom, #225353 30%, #9c4d15a4 70%);
  background-image: linear-gradient(to bottom, #000000 20%, #090513a4 70%);
  // background-image: linear-gradient(to bottom, #372253 30%, #ffffff 70%);
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0.8) 60%), url('https://bitcoinmagazine.com/.image/t_share/MTc5Mjk3ODExODQ1Njg2OTc5/op-ed-evaluating-the-promise-of-cardano-has-ethereum-met-its-match.jpg');
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 30%, rgba(255, 255, 255, 0.8)) 70%, url('https://steamuserimages-a.akamaihd.net/ugc/963103894336886942/0D4ED36116492D053DC25D650512219C0A8273EC/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=#000000&letterbox=false');
  background-size: cover;
  background-attachment: fixed;
  height: 220vh;
}


