.web3 {
  background-image: linear-gradient(to bottom, #3b9191c7 30%, #f4781fa4 70%);
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0.8) 60%), url('https://bitcoinmagazine.com/.image/t_share/MTc5Mjk3ODExODQ1Njg2OTc5/op-ed-evaluating-the-promise-of-cardano-has-ethereum-met-its-match.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.web3 p {
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}
