<div class="navbar-expand">
  <div class="navbar-right">
    <div class="d-flex">
      <p class="all-text-white", style="font-size: 18px">
        <%= link_to "Who to follow", "/", class: "yoinity-logo"%>
      </p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="width: 100%">
          <div class= "">
            <li class="nav-item">
                  <% @users.each do |user| %>
                    <div>
                      <%= link_to user.nickname, profile_path(user.nickname) %>
                      <%= button_to 'Follow', follow_follower_path(user), method: :post %>
                    </div>
                  <% end %>
            </li>
          </div>
      </ul>
    </div>
  </div>
</div>
