<div class="navbar-expand">
  <div style="position:fixed">
    <div class="d-flex">
      <p class="all-text-white", style="font-size: 18px">
        <%= link_to "Who to follow", "/", class: "yoinity-logo"%>
      </p>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="width: 100%">
          <div class= "">
            <li class="nav-item">
              <p style="color:white">Here you will find more people</p>
            </li>
          </div>
      </ul>
    </div>
  </div>
</div>
