<div class="avatar-xxs" style="background-color:#1FDF64; border-radius:50%; display: flex; justify-content: center; align-items: center;">
  <i class="fas fa-play" style="color: black; font-size:12px;"></i>
</div>
