  <div class="web3" >
  <div class="banner">
    <div class="container">
    <p>Write and read quality stories. Start now and forget about the problem of finding valuable content. You can have ownership of your stories, share on a multi-language community and be secure through the use of NFTs.</p>
    <p><%= link_to "Start now", new_user_registration_path, class: "btn btn-classic" %></p>
    </div>
  </div>
</div>
