  <div class="web3" >
  <div class="banner">
    <div class="container">
      <div class="about">

        Write and read quality stories. Find the most valuable content, and share on a multi-language community.

      </div>
      <p><%= link_to "Start now", new_user_registration_path, class: "btn btn-classic" %></p>

    </div>
  </div>
</div>
