<div class="banner3">
  <div class="container custom-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner3__content">
          <h1 class="title wow fadeInLeft" style="color:black" data-wow-duration="1500ms" data-wow-delay="0ms">Learn, be curious</h1>
          <p class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">Come across thinking & expertise from podcasters and writers in a multi-language and secure space.</p>
          <form class="form-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms" action="#" method="#">
            <div class="form-input">
              <img src="assets/images/envlope.svg" alt="">
              <input type="text" placeholder="Your mail">
              <button type="submit">Get started</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
