<div class="post">
<div class="">
  <div class="">
    <div class="banner3">
      <div class="container custom-container">
        <div class="">
          <div class="">
            <div class="banner3__content">
              <h1 class="title ">Podcasts for everyone</h1>
              <p class="mt-5">Come across thinking & expertise from story-tellers and writers in a multi-language and secure space. Join the community and get started.</p>
              <form class="form-box " action="<%= potential_users_path %>" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="form-input">
                  <input name="potential_user[email]" type="text" placeholder="Your mail">
                  <button type="submit">Get started</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
