<div class="wrapper">
  <div class="diagonal-section">
    <div class="banner3">
      <div class="container custom-container">
        <div class="row">
          <div class="col-lg-6">
            <div class="banner3__content">
              <h1 class="title wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">Learn, be curious</h1>
              <p class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">Come across thinking & expertise from story-tellers and writers in a multi-language and secure space.</p>
              <form class="form-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms" action="<%= potential_users_path %>" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="form-input">
                  <input name="potential_user[email]" type="text" placeholder="Your mail">
                  <button type="submit">Get started</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
