<div class="banner3">
  <div class="container custom-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="banner3__content">
          <h1 class="title wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">Learn, be curious</h1>
          <p class="wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">Come across thinking & expertise from writers in a multi-language and secure space.</p>
          <form class="form-box wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="600ms" action="#" method="#">
            <!--<label for="#">Start your 14 days free Trial</label>-->
            <div class="form-input">
              <img src="assets/images/envlope.svg" alt="">
              <input type="text" placeholder="Your work mail">
              <button type="submit">Get started</button>
            </div>
          </form>
          <!--<div class="trust-user wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="900ms">
            <span><img src="assets/images/trust-icon.png" alt="">Trusted users around the globe <span>25M+</span></span>
            <img src="assets/images/users-img.png" alt="">
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <!--<div class="banner3__thumb wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="1200ms">
    <img src="assets/images/banner-thumb-4.png" alt="">
  </div>-->
</div>
