<div class="post" >
  <!--voice design-->
  <h4 style="color: white; margin-top: 30px; margin-bottom:30px;">Voice design</h4>
  <p style="color: white; margin-top: 30px; margin-bottom:30px;">Create completely new artificial voices from scratch. Replicate your own voice or a voice you have the authorization and rights to use. The voices you make are exclusively accessible to you.</p>
  <div data-controller="toggle">
    <div class="btn btn-classic" data-action="click->toggle#toggle" data-toggle-target="display">Check eligibility</div>
    <p class="d-none mt-3" data-toggle-target="display">You need to <a href="/remixes/new" style="color: #1FDF64;">create</a> remixes first.</p>
  </div>
</div>
