  <div class="web3" >
  <div class="banner">
    <div class="container">
    <p>Write and read quality stories. Find the most valuable content, and share on a multi-language community.</p>
    <p><%= link_to "Start now", new_user_registration_path, class: "btn btn-classic" %></p>
    </div>
  </div>
</div>
