<!-- app/views/post_likes/destroy.html.erb -->
<turbo-frame id="like_button_<%= @post.id %>">
  <%= button_to post_likes_path, class: "icon-button", params: { post_like: { post_id: @post.id }}, method: :post do %>
    <div class="show-icons-item" style="gap:4px;">
      <div><i class="far fa-heart"></i></div>
      <div class='icon-button' style="font-size:16px"><%= @post.post_likes.count %></div>
    </div>
  <% end %>
</turbo-frame>
