<!--toggle-bar-->
<div data-controller="toggle">
  <!--dots-icon-->
  <div class="toggle-bar" data-action="click->toggle#toggle">
    <div class="d-flex justify-content-between">
    <i class="dots fas fa-ellipsis-h"></i>
    <p class="quality"><%= @post.post_qualities.count %> <i class="fa-solid fa-star" style="color: #ffd43b;"></i></p>
    </div>
  </div>
  <!--interactive-bar-->
  <div class="d-none" data-toggle-target="display">
    <%= render partial: "interactive_bar"%>
  </div>
</div>

<!--content-->
<div class="content-bar" >
    <p><%= @post.content.gsub(/\n/, '<br>').html_safe %></p>
</div>
