<div class="post-container">
  <div class="post" >
    <!--Tabs-->
    <div class="cards-header" data-controller="tabs">
      <h5 class="cards-header-item tab-index active" data-tabs-target="tab" data-action="click->tabs#changeTab">
        <%= link_to 'Explore', "/", class: "tabs" %>
      </h5>
      <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
        <%= link_to 'Following', "#", class: "tabs" %>
      </h5>
    </div>
    <div class="cards">
      <% @posts.reverse.each do |post| %>
        <%= link_to post_path(post.token)  do %>
          <!--cards-->
          <%= render partial: "card", locals: { post: post }%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
