<div class="post-container" style="background-color: #343541">
  <div class="post" >
    <!--For you, Following, Highest quality, Most likable-->
    <div class="cards-header" data-controller="tabs">
      <h5 class="cards-header-item tab-index active" data-tabs-target="tab" data-action="click->tabs#changeTab">
        For you
      </h5>
      <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
        Following
      </h5>
      <h5 class="cards-header-item tab-index " data-tabs-target="tab" data-action="click->tabs#changeTab">
        Highest quality
      </h5>
      <h5 class="cards-header-item tab-index" data-tabs-target="tab" data-action="click->tabs#changeTab">
        Most likable
      </h5>
    </div>
    <div class="mt-3" data-controller="tabs">
      <!--back to feed -->
      <div class="tabs" >
        <a href="/p" class="tab">Back to feed</a>
      </div>
      <div class="notifications">
        <!-- story -->
        <audio controls>
          <source src="<%= speech_post_path(@post.token) %>" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

        <div class="notification story" data-tabs-target="notification">
          <%= render partial: "story" %>
        </div>
        <!-- reviews -->
        <div class="notification reviews d-none" data-tabs-target="notification">
          <%= render partial: "reviews" %>
        </div>
      </div>
    </div>
  </div>
</div>
