.banner {
  position: relative;
  background-size: cover;
  backdrop-filter: blur(15px);
  background-position: center;
  padding: 10px 0;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1; /* make sure pseudo-element is behind the main element */
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-align: center;
}

.card-last{
  position: relative;
  z-index: 2;
}
