.banner {
  background-size: cover;
  background-image: linear-gradient(to bottom, #000000, #F4F4F4);
  background-position: center;
  padding: 10px 0;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-align: center;
}

.card-last{
  position: relative;
  z-index: 2;
}
