a {
  text-decoration: none;
}

.btn-delete {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  position: absolute;
  text-align: end;
}

.btn-classic {
  color: white;
  border-radius: 8px;
  background-color: rgba(
    177,
    176,
    176,
    0.5
  ); /* Use rgba value with opacity (0.8 in this example) */
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
}

.btn-classic:hover {
  background-color: rgba(
    226,
    226,
    226,
    0.945
  ); /* Use rgba value with opacity (0.8 in this example) */
  color: black !important;
}

.btn-dropdown {
  color: rgba(255, 255, 255, 0.5);
  padding: 8px 8px 8px 8px;
  font-size: 12px;
  border-radius: 8px;
  background-color: rgba(
    177,
    176,
    176,
    0.1
  ); /* Use rgba value with opacity (0.8 in this example) */
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
  align-self: end;
}

.btn-dropdown:hover {
  font-size: 12px;
  background-color: rgba(
    226,
    226,
    226,
    0.5
  ); /* Use rgba value with opacity (0.8 in this example) */
  color: rgba(0, 0, 0, 0.5);
  align-self: end;
}

.icon-button {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.icon-button:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border: none;
}

.btn-follow {
  font-size: 12px;
  background-color: #0095f6;
  color: white;
  text-decoration: none;
  border: none;
}

.btn-follow:hover {
  margin-right: 20px;
  background-color: #1877f2;
  color: white;
  text-decoration: none;
  border: none;
}

.btn-following {
  margin-right: 40px;
  font-size: 12px;
  background-color: #efefef;
  color: grey;
  text-decoration: none;
  border: none;
}

.btn-following:hover {
  margin-right: 40px;
  background-color: #dbdbdb;
  color: grey;
  text-decoration: none;
  border: none;
}

.btn-category {
  color: white;
  font-style: 12px;
  border-radius: 8px;
  background-color: rgba(
    177,
    176,
    176,
    0.5
  ); /* Use rgba value with opacity (0.8 in this example) */
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
}

.btn-category-post {
  font-weight: lighter;
  border-radius: 8%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  margin-bottom: 10px;
  color: rgba(59, 83, 68, 0.658);
  background-color: rgba(
    219,
    237,
    219,
    0.836
  ); /* Use rgba value with opacity (0.8 in this example) */
  border-radius: 8px;
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
  right: 34px;
  top: 88px;
}

.btn-category-post:hover {
  border-radius: 8%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  position: absolute;
  color: rgba(59, 83, 68, 0.658);
  background-color: rgba(
    219,
    237,
    219,
    0.836
  ); /* Use rgba value with opacity (0.8 in this example) */
  right: 34px;
  top: 88px;
}

.btn-mini-follow {
  font-size: 8px;
  background-color: #0095f6;
  color: white;
  text-decoration: none;
  border: none;
}

.btn-mini-follow:hover {
  background-color: #1877f2;
  color: white;
  text-decoration: none;
  border: none;
}

.btn-mini-following {
  font-size: 8px;
  background-color: #efefef;
  color: grey;
  text-decoration: none;
  border: none;
}

.btn-mini-following:hover {
  background-color: #dbdbdb;
  color: grey;
  text-decoration: none;
  border: none;
}

.play-quality {
  display: flex;
  justify-content: space-between;
  gap:14px;
}

@media (max-width: 768px) {
  .play-quality {
    gap: 8px;
  }
}

.btn-clone {
  color: rgba(0, 0, 0, 0.849) !important;
  border-radius: 8px;
  background: linear-gradient(to right, #1FDF64, #1FDF64); /* Gradient from dark green to specific green */
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
}

.btn-clone:hover {
  background: linear-gradient(to right, #029e02, #45f585); /* On hover, start the gradient from a darker green */
  color: black  !important;
}
