.cards {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
}

.cards > *:not(:last-child)::after {
  content: "";
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* you can adjust the color, style, and thickness of the border as needed */
}

.main-card {
  width: 50%;
}

.card {
  width: 100%;
  background-color: transparent;
  border: none;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.card-images {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
  gap: 32px;
}

.container-index {
  margin: 0 auto;
  padding: 30px;
  width: 40%;
}

.container-index h1 {
  text-align: center;
}

.cards-header {
  margin-top: 8px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.cards-header-item {
  color: white;
  margin-right: 30px !important;
}

.filters {
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.filters-item {
  margin-left: 50px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.card-post {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.2s ease-in;
  height: 500px;
  width: 100%;
  border-radius: 2%;
}

.card-post > img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.card-post h2 {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $gray;
}

.card-post p {
  text-decoration: none;
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
  color: $gray;
}

.card-post .card-post-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-post .card-post-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-post-infos .card-post-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-post:hover {
  transform: scale(1.03);
}
