.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 100%;
}

// .navbar-scroll {
//   position: sticky;
// }

// .navbar-left {
//   position: fixed;
//   padding-right: 60px;
//   top: 25px;
//   bottom: 0;
//   left: 400px;
//   z-index: 1;
// }

.navbar-left {
  position: sticky;
  padding-right: 60px;
}

@media (max-width: 1130px) {
  .navbar-left {
    padding-left: 60px;
  }
}

.navbar-items {
  position: fixed;
}

@media (max-width: 690px) {
  .menu-container {
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .search-bar {
    width: 100%;
  }
  .yoinity-logo {
    display: none;
  }
  .navbar-right {
    display: none;
  }
}

.navbar-brand img {
  width: 34px;
  border-radius: 8%;
}

.navbar-colle-search {
  display: flex;
}

.all-text-black {
  a {
    color: black;
  }
}

.all-text-white {
  a {
    color: white;
  }
}

.nav-logo {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}

.nav-item {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-link {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: grey;
  border-radius: 15px;
}

.navbar-link:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.05);
}

.navbar-link.active {
  color: white !important;
}

.yoinity-logo {
  color: white;
  font-family: $logo-font;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 15px;
}

.navbar-right {
  position: sticky;
  padding-left: 10px;
}

.account-menu {
  display: flex;
  position: fixed;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 40px;
}

.account-menu:hover {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  position: fixed;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 40px;
}
