.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  // transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  //display: flex;
  //flex-direction: row;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.search-bar {
  width: 100%;
}

@media (max-width: 690px) {
  .menu-container {
    //background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  .search-bar {
    width: 100%;
  }
  .yoinity-logo {
    display: none;
  }
}

.navbar-brand img {
  margin-top: 12px;
  //margin-left: 15px;
  width: 50px;
  border-radius: 8%;
}

.navbar-colle-search {
  display: flex;
}

.navbar-lewagon-white {
  a {
    color: white;
  }
}

.all-text-black {
  a {
    color: black;
  }
}

.all-text-grey {
  a {
    color: rgba(255, 255, 255, 0.7);
  }
}

.all-text-white {
  a {
    color: white;
  }
}

.nav-item {
  display: flex;
}

.navbar-link {
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 15px;
}

.yoinity-logo {
  color: white;
  font-family: $logo-font;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 15px;
}
