.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.search-bar {
  width: 90%;
}

@media (max-width: 690px) {
  .menu-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  .search-bar {
    width: 100%;
  }
}

.navbar-brand img {
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  border-radius: 8%;
}

.navbar-colle-search {
  display: flex;
}

.navbar-lewagon-white {
  background-color: white;
  a {
    color: black;
  }
}

.all-text-black {
  a {
    color: black;
  }
}

.all-text-white {
  a {
    color: white;
  }
}

.nav-item {
  margin-left: 10px;
}
