.post-card-small {
  margin-top: 5px;
  margin-bottom: 15px;
  position: relative;
  height: 220px;
  max-width: 100%;
  min-width: 375px;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.post-card-small .infos {
  position: absolute;
  height: 220px;
  left: 1px;
  right: 25px;
  top: 1px;
  padding: 280px;
}

.post-card-small .title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  left: 1px;
  top: 70px;
  width: 450px;
}

.post-card-small .nickname {
  position: absolute;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  left: 80px;
  top: 30px;
}

.post-card-small .date {
  position: absolute;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  color: rgba(173, 173, 173, 0.4);
  left: 170px;
  top: 30px;
}

.post-card-small .post-avatar {
  position: absolute;
  text-decoration: none;
  left: 1px;
  top: 1px;
  object-fit: cover;
  width: 55px;
  height: 55px;
  border-radius: 8%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}

.post-card-small .post-image {
  position: absolute;
  text-decoration: none;
  right: 65px;
  top: 70px;
}

.post-card-small .like {
  font-size: 25px;
  position: absolute;
  color: white;
  text-decoration: none;
  right: 15px;
  top: 80px;
}

.post-card-small .quality {
  font-size: 25px;
  position: absolute;
  color: white;
  text-decoration: none;
  right: 15px;
  top: 130px;
}

.post-card-small .trend {
  position: absolute;
  color: white;
  font-weight: lighter !important;
  text-decoration: none;
  right: 160px;
  top: 68px;
}

.post-card-small .btn-category {
  font-weight: lighter;
  border-radius: 8%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  margin-bottom: 10px;
  color: rgba(59, 83, 68, 0.658);
  background-color: rgba(
    219,
    237,
    219,
    0.836
  ); /* Use rgba value with opacity (0.8 in this example) */
  border-radius: 8px;
  transition: background 0.3s ease;
  text-decoration: none;
  border: none;
  right: 34px;
  top: 68px;
}

.post-card-small .btn-category:hover {
  border-radius: 8%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  position: absolute;
  color: rgba(59, 83, 68, 0.658);
  background-color: rgba(
    219,
    237,
    219,
    0.836
  ); /* Use rgba value with opacity (0.8 in this example) */
  right: 34px;
  top: 68px;
}

.post-card-small .language {
  position: absolute;
  color: white;
  font-weight: lighter !important;
  text-decoration: none;
  font-size: 10px;
  left: 300px;
  top: 30px;
}

.post-card-small .england-flag {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/320px-Flag_of_the_United_Kingdom_%283-5%29.svg.png");
  width: 25px;
  height: 15px;
  background-size: cover;
  position: absolute;
  text-decoration: none;
  left: 380px;
  top: 30px;
}

.post-card-small .france-flag {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/320px-Flag_of_France.svg.png");
  width: 25px;
  height: 15px;
  background-size: cover;
  position: absolute;
  text-decoration: none;
  left: 380px;
  top: 30px;
}

.post-card-small .spain-flag {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/320px-Flag_of_Spain.svg.png");
  width: 25px;
  height: 15px;
  background-size: contain;
  position: absolute;
  text-decoration: none;
  left: 380px;
  top: 30px;
}

.post-card-small .content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5em; /* Set line height to match height of a single line of text */
  max-height: 3.5em; /* Set max height to match 2 lines of text (2 * line-height) */
  position: absolute;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: lighter !important;
  color: white;
  left: 1px;
  top: 150px;
  width: 450px;
}

.post-card-small .read {
  position: absolute;
  text-decoration: none;
  font-size: 10px;
  padding: 16px 48px;
  font-weight: bold;
  color: white !important;
  right: 56px;
  top: 370px;
}

.post-card-small p {
  position: absolute;
  text-decoration: none;
  font-size: 6px;
  opacity: 0.7;
  margin: 0;
  color: white !important;
}

.post-card-small .post-card-small-infos {
  padding: 10px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.post-card-small-infos .post-card-small-user {
  position: absolute;
  right: 25px;
  top: 0px;
  width: 40px;
}
