.search-form-control {
  width: 1200px;
  margin-right: 110px;
}

.search-form-control .form-control {
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.144);
  outline: none !important;
  border: none;
  align-items: center;
  width: 1200px;
}

.search-form-control .form-control:focus {
  background-color: rgba(255, 255, 255, 0.192);
  outline: none !important;
  border: none;
  align-items: center;
}
