.search-form-control {
  position: relative;
  align-items: left;
  width: 1220px;
  margin-right: 100px;

}

.search-form-control .form-control {
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.144);
  outline: none !important;
  border: none;
  align-items: center;
}

.search-form-control .form-control:focus {
  background-color: rgba(255, 255, 255, 0.144);
  outline: none !important;
  border: none;
  align-items: center;
}
