.search-form-control {
  width: 100%;
  margin-right: 110px;
}

.search-form-control .form-control {
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.144);
  outline: none !important;
  border: none;
  align-items: center;
  width: 100%;
}

.search-form-control .form-control:focus {
  background-color: rgba(255, 255, 255, 0.192);
  outline: none !important;
  border: none;
  align-items: center;
}

.ask-form-control {
  color: rgb(70, 70, 70);
  margin-top: 60px;
  width: 700px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.ask-form-control .form-control {
  color: rgb(70, 70, 70);
  font-size: 14px;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.164);
  outline: none !important;
  border: none;
  align-items: center;
  width: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.ask-form-control .form-control:focus {
  color: rgb(70, 70, 70);
  background-color: rgb(182, 182, 182);
  outline: none !important;
  align-items: center;
  width: 700px;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.ask-form-control .form-control::placeholder {
  color: rgba(255, 255, 255, 0.623);
  font-size: 14px;
  font-weight: 400;
}
