<div class="web3" >
      <div class="banner">
            <div class="container mt-5">
                <div class="cards">
                    <% @categories.each do |category| %>
                      <p><%= category.name %></p>
                    <%end%>
                </div>
            </div>
      </div>
</div>
